@model Entities.Concrete.BankAccountInfo
@{
    ViewData["Title"] = "AdminBankAccountInfoUpdate";
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
}


<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Banka Hesap Bilgisi Güncelle</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" asp-action="AdminBankAccountInfoUpdate" asp-controller="BankAccountInfo">
                <div class="form-group">

                    <div class="row">
                        <div class="col-6">
                            <label>Ülke :</label>
                            <input type="text" class="form-control" asp-for="@Model.Country" required />
                            @Html.ValidationMessageFor(x => x.Country, "", new { @style = "color:red" })
                        </div>
                        <div class="col-6">
                            <label>Banka (Swift) Kodu :</label>
                            <input type="text" asp-for="@Model.BankCode" class="form-control" required />
                            @Html.ValidationMessageFor(x => x.BankCode, "", new { @style = "color:red" })
                        </div>
                        <div class="col-6">
                            <label>Hesap Numarası :</label>
                            <input type="text" asp-for="@Model.AccountNumber" class="form-control" required />
                            @Html.ValidationMessageFor(x => x.AccountNumber, "", new { @style = "color:red" })
                        </div>
                        <div class="col-6">
                            <label>Şube :</label>
                            <input type="text" asp-for="@Model.Branch" class="form-control" required />
                            @Html.ValidationMessageFor(x => x.Branch, "", new { @style = "color:red" })
                        </div>
                        <div class="col-12">
                            <label>Adres :</label>
                            <input type="text" asp-for="@Model.Address" class="form-control" required />
                            @Html.ValidationMessageFor(x => x.Address, "", new { @style = "color:red" })
                        </div>

                    </div>


                    <div class="col-lg-12 mb-4">
                        <label>Duyuru Açıklaması :</label>
                        <textarea asp-for="@Model.Description" cols="200" class="form-control summernote" required></textarea>
                        @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
                    </div>

                    <div class="text-center mt-3"> <button type="submit" class="btn btn-xl btn-outline-success w-25 h-25">Banka Hesap Bilgisi Güncelle</button></div>
                </div>


            </form>
        </div>


    </div>
</div>

