@model IEnumerable<Entities.Concrete.Congress>
<div class="col-lg-8">
    <div class="all-blog-posts">
        <div class="row">
            @foreach (var item in Model.OrderByDescending(x=>x.KongreId).Take(3))
            {

                <div class="col-lg-12">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="~/images/@item.ImagePath" alt="">
                        </div>
                        <div class="down-content">
                            <span>@item.KongreAdi</span>
                            <a href="/HomePage/CongressDetails/@item.KongreId"><h4>@item.KongreKonusu</h4></a>
                            <ul class="post-info">
                                <li><a href="#">@item.KongreAdresi</a></li>
                                <li>Başlangıç - <a href="#">@item.KongreTarihi.ToShortDateString()</a></li>
                                <li>Bitiş -<a href="#">@item.KongreBitisTarihi.ToShortDateString()</a></li>
                            </ul>
                            <p> @Html.Raw(item.KongreHakkinda)</p>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-tags"></i></li>
                                            <li><a href="#">@item.KongreKonusu</a></li>
                                           
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="post-share">
                                            <li><i class="fa fa-share-alt"></i></li>
                                            <li><a href="#">Facebook</a>,</li>
                                            <li><a href="#"> Twitter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            <div class="col-lg-12">
                <div class="main-button">
                    <a href="/HomePage/CongressesGetAll">Tümünü Gör</a>
                </div>
            </div>
        </div>
    </div>
</div>